html(lang="en")
head
    meta(charset="UTF-8")
    title Web Cam Video
    link(rel="stylesheet" href="/public/index.css")
body
    div
        video#video(autoplay="true")
        canvas#canvas
        button#btn 사진촬영
    script(src="/public/index.js")
</body>
</html>