html(lang="ko")
    head
        link(rel="stylesheet" href="/public/index.css")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="title" content="식물상 테스트")
        meta(name="subject" content="얼굴로 보는 인공지능 자생식물 추천서비스")
        meta(name="keywords" content="식물, 자생식물, 인공지능, 추천, 서비스, 제주도")
        meta(name="author" content="3HAN")
        meta(name="description" content="사진을 찍고 몇가지 설문 조사에 답을 하면 나에게 맞는 제주도 식의약용 자생식물을 찾아줍니다!")
        meta(property="og:type" content="website")
        meta(property="og:title" content="식물상 테스트")
        meta(property="og:description" content="사진을 찍고 몇가지 설문 조사에 답을 하면 나에게 맞는 제주도 식의약용 자생식물을 찾아줍니다!")
        title 자생식물 씨앗 추천 서비스

    body(aria-hidden="false")

        div(class="image-holder")
            section(class="section")
                h1(class="title") 자생식물 씨앗 추천 서비스
            div(class="image-upload-wrap")
                h3(class="upload-text") 얼굴 사진을 촬영하세요!
                div(class="screen")
                    video(id="myVideo" width="400" height="300" style="border: 1px solid #ddd;")
                    canvas(id="myCanvas" width="400" height="300" style="border: 1px solid #ddd;")
                div(class="btn_cont")
                    button(type="button p-2" class="try-again-btn" id="button" onclick="{_takeSnapshot()}") 사진찍기
        script(src="/public/index.js")